<a name="acerca"></a>
<section class="div sobre-nosotros">
<h2 class="encabezadoo">Acerca de Nosotros</h2>
<div class ="div-acerca-de">
   <img class="imagen-acerca" src="img/nosotros.jpg" alt="">
   <div class="textos">
       <h3><span>1</span>Quienes Somos? Conozcanos!</h3>
       <p>Somos una de las constructoras más completas ya que en nuestros proyectos participan ingenieros de nuestra misma empresa y con nuestra gama de arquitectos, hacemos realidad el diseño de su sueños para su edificio o hogar, no trabajamos con ingenieros independientes, por eso es que somos los #1, porque trabajamos en familia.</p>  <br>
       <h3><span>2</span>Como Empezamos? El inicio de todo</h3>
       <p> PREGO fue fundado por su padre Rivaldo Ramos en el 2020 y actualmente tiene una plantilla de alrededor de 12.000 empleados. Fuimos creciendo consistentemente hasta consolidarnos en una de las empresas más importantes de República Dominicana a nivel de construccion. El desarrollo comercial y la importancia que hemos alcanzado hasta nuestros días nos convierten en un punto de referencia obligatorio dentro del ámbito empresarial dominicano.</p>

    </div>
</div>


</section>
<a name="proyectos"></a>
<section class="carpetaproyecto">
<div class="div">
    <h2 class="encabezadoo">Nuestra gama de Proyectos</h2>
    <div class="carpetagal">
        <div class="carpetaport">
            <img src="img/servicios1.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>
        <div class="carpetaport">
            <img src="img/servicios2.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>
        <div class="carpetaport">
            <img src="img/servicios3.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>
        <div class="carpetaport">
            <img src="img/servicios4.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>
        <div class="carpetaport">
            <img src="img/servicios5.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>
        <div class="carpetaport">
            <img src="img/servicios6.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>
        <div class="carpetaport">
            <img src="img/servicios7.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>
        <div class="carpetaport">
            <img src="img/servicios8.jpg" alt="">
            <div class="selecciona">
                <img src="img/target.png" alt="">
                <p>Nuestros Proyectos</p>
            </div>
        </div>

    </div>
</div>
</section>
<a name="clientes"></a>
<section class="clientes-div">
<h2 class="encabezadoo">Opiniones de Nuestros clientes</h2>
<div class="tarjetas">
    <div class="tarjeta">
        <img src="img/cliente1.png" alt="">
        <div class="textos1">
            <h4>RAFAEL CELESTIANO</h4>
            <p>la empresa Constructora PREGO se destacó por la seriedad, calidad y transparencia que demostró durante todo el proceso y avance de ambas construcciones.</p>
        </div>
    </div>
    <div class="tarjeta">
        <img src="img/cliente2.png" alt="">
        <div class="textos1">
            <h4>CAROLINA CASTILLO</h4>
            <p>Me complace recomendar esta empresa ya que estoy seguro de que al contratar sus servicios estarán obteniendo satisfactoriamente los beneficios esperados.</p>
        </div>
    </div>
</div>
</section>
<a name="servicios"></a>
<section class="servicios">
<div class="div">
    <div class="encabezadoo">
        <h2 class="encabezadoo">Nuestros Servicios</h2>
        <div class="divservicios">
            <div class="fotoservicios">
                <img src="img/proyecto2.jpg" alt="">
                <h3 class="nombrenegro">Atencion al Cliente</h3>
                <p class="textoo">Aqui se le dan las primeras atenciones, se le atiende por telefonia y se le aclara las dudas al cliente</p>
            </div>
            <div class="fotoservicios">
                <img src="img/proyecto1.png" alt="">
                <h3 class="nombrenegro">Reuniones con Clientes</h3>
                <p class="textoo">En esta seccion el cliente nos detalla sus especificaciones en su construccion</p>
            </div>
            <div class="fotoservicios">
                <img src="img/proyecto3.jpg" alt="">
                <h3 class="nombrenegro">Acuerdos Contratista</h3>
           <p class="textoo" >Aqui es donde se plantea todo lo acordado en la construccion, se debaten precios y leyes.</p>
            </div>
        </div>
    </div>
</div>
<a name="contacto"></a>
</section>
<br><br>
    <h2 class="encabezadoo">Mapas de Nuestras Distintas Sucursales</h2>
    <div class="container-slider">
       <div class="slider" id="slider">
           <div class="slider__section">
               <img src="img/mapa4.jpg" alt="" class="slider__img">
            </div>
           <div class="slider__section">
               <img src="img/mapa3.png" alt="" class="slider__img">
            </div>
           <div class="slider__section">
               <img src="img/mapa2.jpg" class="slider__img">
            </div>
           <div class="slider__section">
               <img src="img/mapase.jpg" alt="" class="slider__img">
            </div>
       </div> 
     <div class="slider__btn slider__btn--rigth" id="btn-rigth">&#62;</div>
     <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div><br><br>