
    <form action="/add" method="POST"> 

        <center>  <img src="https://static.wixstatic.com/media/07d7ed_28fb97a645cd4998907410996e5cb518.jpg/v1/fit/w_2500,h_1330,al_c/07d7ed_28fb97a645cd4998907410996e5cb518.jpg width="250px" height="90px" alt=""></center>
<B> <I><p>Formulario de reservacion de Reuniones</p></I></B> <br><br>
          
              <i> <u><b>   <legend ><span>1</span> Nombre completo</legend></b></u></i><br>
              <input type="text" name="nombre" id="nombre" required> <br><br><br><br>
                <i><u><b><legend> <span>2</span> Escriba su cedula</legend></b></u></i> <br>
                <input type="text" name="cedula" id="cedula" required>
              </select>
              
      <br><br>
      <br><br>
   
          <i> <u><b>   <legend ><span>3</span> Motivo de la Reunion</legend></b></u></i><br>
         <B><select name="Grado" id="cars" size="1" required>
          <option value="20" >Debatir opciones de Pagos</option>
          <option value="21">Interesado en un proyecto PREGO</option>
          <Option value="22">"Departamento de Ventas"</Option>
          <OPTION selected value="23">Proyectos por venir</OPTION></B>
          <OPTION selected value="23">"Financiamento Hipotecario"</OPTION>

      </select>
     
<br><br>
<br><br>
  <i><u><b> <justify>  <legend ></legend><span>4 Seleccione la Fecha de su Reunion</span></b> </justify><br></i></u><br>
         <input type="date" name="date" required>
<br><br>

<br><br>

 <i><u> <b><justify><legend> <span>5</span> En caso de ser cambiada por emergencia la fecha de su cita, podria ser flexible para algun otro dia?</legend></b></u></i></justify> </u></i><br>
      

      <b><label for="SEXO">Si</label></b>
      <input type="radio" name="sexo" required>
<b><label  for="SEXO">No</label></b> 
<input  type="radio"name="sexo" ID="SEXO" required>

<br><br>

<br><br>

<i><u> <b> <justify></justify><legend> <span>6</span> Breve introduccion acerca de que tema se discutira en la Reunion</legend></b> </justify>
<label for="bio"></label></u></i><br>
<textarea name="bio" id="bio" cols="25" rows="5" required></textarea><br><br><br><br> 

<b> <justify></justify><legend> <span>7</span> Ingrese su correo para contactarnos con usted</legend></b> </justify>
<label for="email"></label><br>
<input type="email" name="email" id="email" required> <br><br><br><br>

<b><i><u><justify></justify><legend> <span>8</span> Numero de Telefono o Celular</legend></b> </justify></u></i>
<label for="telefono"></label><br>
<input type="text" name="telefono" id="telefono" required>

<br><br><br>
<input type="reset">



</a><button type="submit">Enviar</button>

</form>