<div class="div-footer">
    <div class="divfooter">
        <h4>Telefono</h4>
        <p><b>(809)</b>-587-4758 <br> <b>(809)</b>-852-4804</p>
    </div>
    <div class="divfooter">
        <h4>Email</h4>
        <p>rivaldoramosnlaleche@gmail.com</p>
        <p>rivaldoramoslamaternidad@hotmail.com</p>
    </div>
    <div class="divfooter">
        <h4>Ubicacion</h4>
        <p>Santo Domingo, D.N,<br> Gazcue calle 184 esq. Los tronquitos</p>
    </div>
    <div class="divfooter">
       <div class="mt">
        <h4>INICIO</h4>
        <nav>
       <a href="#inicio" class="textoo">INICIO</a>
         </nav>
      </div>
    </div> 
</div>      
<h2 class="firma">&copy; Rivaldo Ramos | Constructora PREGO</h2>
