<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PREGO</title>
<link rel="stylesheet" href="./css/main.css">
<link rel="shortcut icon" href="https://static.wixstatic.com/media/07d7ed_28fb97a645cd4998907410996e5cb518.jpg/v1/fit/w_2500,h_1330,al_c/07d7ed_28fb97a645cd4998907410996e5cb518.jpg" type="image/x-icon">