<nav>
    <a name="inicio"></a>
    <a href="#acerca">Acerca de</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#clientes">Nuestros Clientes</a>
    <a href="#servicios">Servicios</a>
    <a href="#contacto">Contacto</a>
    <a href="/formulario" target = "blank">Reserva tus Reuniones aqui</a>
</nav>
<section class="encabezado">
    <H1>Piensalo, imagínalo y haz tu sueños Realidad</H1>
    <h2>Aqui Encontraras todo lo concerniente acerca de Nosotros</h2>
</section>
<div class="diseno" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 144.19,-92.27 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
